<div>
  <div class="row">
    <div class="columns small-12"><h2 class="pv-15 bdb-g bdbw-1 bdc-ccc">Users</h2></div>       
  </div>
  
  
  
  <div class="row">
    
    <div class="columns small-12">
      <h3 class="pos-r">My Users<button class="action-button modal-button" data-action="add" data-id="#userModal"><i class="fa fa-plus fs-16"></i></button></h3>      
	 
      <table>
        <thead>
          <tr>
            <td>Name</td> 
            <td></td>                       
          </tr>
        </thead>
        <tbody id="userTableData">
        	<% @organization.users.each do |u| %>        		
          		<tr data-id="<%= u.id %>" data-type="user">
          			<td data-name="name"><%= u.fullName %></td>
          			<td width="50">
          				<% 	
          					if !can? :delete, u          						
      							disabled = "disabled"
							elsif u.id == current_user.id
								disabled = "disabled"
          				  	end
          				%>        				
          				<a href="#" class="<%= disabled %> c-dr fs-lg ph-15 ev fl-r delete delete-btn" data-url="/user/<%= u.id%>" data-type="User" data-name="<%= u.fullName %>"><i class="fa fa-times"></i></a>
      				</td>
          		</tr>
          	<% end %>
        </tbody>
      </table>
    </div>
    
  </div>  
</div>






