<div>
  <div class="row">
    <div class="columns small-12"><h2 class="pv-15 bdb-g bdbw-1 bdc-ccc">Users</h2></div>       
  </div>
  
  
  
  <div class="row">
    
    <div class="columns small-12">
      <h3 class="pos-r">My Users<button class="action-button" data-reveal-id="userModal" data-action="add" data-id="#userModal"><i class="fa fa-plus fs-16"></i></button></h3>      
	 
      <table>
        <thead>
          <tr>
            <td>Name</td> 
            <td></td>                       
          </tr>
        </thead>
        <tbody id="userTableData">
        	<% @organization.users.each do |u| %>        		
          		<tr data-id="<%= u.id %>" data-type="user">
          			<td><%= u.fullName %></td>
          			<td width="50">
          				<% 	
          					if u.id == current_user.id
          						disabled = "disabled" 
          				  	end
          				%>        				
          				<a href="#" data-reveal-id="confirmDialog" class="<%= disabled %> c-dr fs-lg ph-15 ev fl-r delete delete-btn" data-url="/user/<%= u.id%>" data-type="User" data-name="<%= u.fullName %>"><i class="fa fa-times"></i></a>
      				</td>
          		</tr>
          	<% end %>
        </tbody>
      </table>
    </div>
    
  </div>  
</div>
<!-- Modal used for adding a new user and editing a user -->
<div id="userModal" class="reveal-modal tiny" data-reveal>    	
	<div class="add">
		<h3 class="c-lg">Add User</h3>
		<hr />	
		<%= form_for(:user, url: user_registration_path, html: { id: "addUserForm" }, remote: true ) do |f| %>
			
		    <div><%= f.text_field :first_name, autofocus: true, :placeholder => "First Name" %></div>	
		    <div><%= f.text_field :last_name, :placeholder => "Last Name" %></div>		
		    <div><%= f.email_field :email, :placeholder => "Email Address" %></div>	    
		    <div><%= select :user, :role, [["Select Role", ""],["Admin",1],["Editor",2],["Viewer",3]] %></div>
		    <div class="row">
		    	<div class="columns small-6 p-0 pr-10">
		    		<div class="ta-c ev bg-ow cur-p bdrz-5 p-10 mv-10 reveal-action" data-id=".findMember">Already a Member?</div>		
		    	</div>
		    	<div class="columns small-6 p-0 pl-10">
		    		<div class="ta-c ev bg-ow cur-p bdrz-5 p-10 mv-10 reveal-action" data-id=".newMember">Add New Member</div>
		    	</div>
		    </div>		    
		    		        
		    <%= hidden_field_tag :form_type, "" %>
			<div><%= f.submit "Add User", :class => "w-100p button bdrz-5 ev m-0 bg-us" %></div>
			
			
		<% end %>
	</div>
	<div class="show">
		<h3 class="c-lg fl-l pb-10"></h3>
		<a href="#" class="action-button c-dg fl-l m-5 p-10 ev" data-id="#userModal" data-action="edit">Edit</a>
		<hr />
		<div class="row">
			<div class="columns medium-6">
				<label>Email Address</label>
				<p></p>
				<label>Role</label>
				<p></p>					
			</div>
			<div class="columns medium-6">
				<label>Signed in last</label>
				<p></p>
				<label>Updated last</label>
				<p></p>
				<label>Creator</label>
				<p></p>
			</div>
		</div>
		<div class="is-member d-n mt-10">
			<p class="fw-b fs-m">Member Info</p>	
		</div>
	</div>
	<div class="edit">
		<h3 class="c-lg">Edit User</h3>
		<hr />
		<%= form_for(:user, url: user_registration_path, html: { id: "addUserForm" }, remote: true ) do |f| %>
			
		    <div><%= f.text_field :first_name, autofocus: true, :placeholder => "First Name" %></div>	
		    <div><%= f.text_field :last_name, :placeholder => "Last Name" %></div>		
		    <div><%= select :user, :role, [["Select Role", ""],["Admin",1],["Editor",2],["Viewer",3]] %></div>
		    <div class="row">
		    	<div class="columns small-6 p-0 pr-10">
	    			<div class="ta-c ev bg-ow cur-p bdrz-5 p-10 mv-10 reveal-action" data-id=".findMember">Already a Member?</div>		
		    	</div>
		    	<div class="columns small-6 p-0 pl-10">
		    		<div class="ta-c ev bg-ow cur-p bdrz-5 p-10 mv-10 reveal-action" data-id=".newMember">Add New Member</div>
		    	</div>
		    </div>	    
			<div><%= f.submit "Edit User", :class => "w-100p button bdrz-5 ev m-0 bg-us" %></div>			
		<% end %>
	</div>
  	<a class="close-reveal-modal">&#215;</a>
</div>





