<!-- Display the home page if the user is not signed in -->
<% if !user_signed_in? %>
<div class="not_signed_in pos-r" id="home-page">
  <%= render "static_pages/web_pages/connections" %>

  
  
  <%= render "static_pages/web_pages/events" %>
  <%= render "static_pages/web_pages/people" %>
  <%= render "static_pages/web_pages/work" %>
  <%= render "static_pages/web_pages/expenses" %>
  <%= render "static_pages/web_pages/music" %>
  <%= render "static_pages/web_pages/social" %>
  
  <%= render "static_pages/web_pages/connectfromanywhere" %>

  <%= render "static_pages/web_pages/pricing" %>
</div>

<!-- If the user is signed in then we want to display the dashboard -->
<% else %>

<div class="signed_in clearfix">
  <%= render "account/account_home"  %>  
</div>


<% end %>


