<div id="middleContainer" class="bg-fblue">
	<div class="row pos-r pt-10 pb-10">
	  	<div class="arrow-down pos-a t-0"></div>
	  	<div class="slide ta-c c-w mt-15">
	  		<h1 class="c-w fs-30 ff-mono">We promise to help your ministry be more productive with our wide array of products.</h1>
	  		<h3 class="c-w fs-20">Our goal is to offer the products at a price that any church can afford, and use the products to reach out to your community.</h3>
	  	</div>
	  	<div id="slide0" class="slide clearfix d-n">
			<!-- Events: Service order | Nursery workers | Music practices -->
			<div class="medium-4 columns">
				<p><%= image_tag "home/list.png" %></p>
				<p>The Bible says things should be done decently and in order.  Schedule services for each meeting and add songs so everyone knows what is going on.</p>
			</div>
			<div class="medium-4 columns">
				<p><%= image_tag "home/bottle.png" %></p>
				<p>Scheduling nursery workers is an issue in any ministry.  Schedule the workers, and be informed if they will be able to be there.</p>
			</div>
			<div class="medium-4 columns">
				<p><%= image_tag "home/music.png" %></p>
				<p>Every single musical performance should have a time for practicing.  Schedule music practices and invite users to be a part of your ministry.</p>
			</div>
		</div>
		<div id="slide1" class="slide clearfix d-n">
			<!-- Outreach: Region Schedule | Detailed Record Keeping | Online Church Directory -->
			<div class="medium-4 columns">
				<p><%= image_tag "home/region.png" %></p>
				<p>Add the prospects to the list of visits, and assign specific regions to a visit group.  This will allow the groups to make visits in one part of your community.</p>
			</div>
			<div class="medium-4 columns">
				<p><%= image_tag "home/cabinet.png" %></p>
				<p>Each prospect is kept in a secure database to keep from information leaking out.  Each person's address, phone number and other personal information can be added.</p>
			</div>
			<div class="medium-4 columns">
				<p><%= image_tag "home/folder.png" %></p>
				<p>Add each member of your congregration to a list and keep track of them.  Customize and create prayer directories with all the members' information in just a few clicks.</p>
			</div>
		</div>	
		
		
		<div id="slide2" class="slide clearfix d-n">
			<!-- Design: Logos | Website | Publications -->
			<div class="medium-4 columns">
				<p class="fs-30 mt-15">Your Name Here</p>
				<p>Design your own custom logo for your church, ministry, or institution.  If our tools can not do what you want then ask us to design the logo.</p>
			</div>
			<div class="medium-4 columns">
				<p><%= image_tag "home/mouse-pointer.png" %></p>
				<p>We can also design websites.  Your site will work on all mobile devices as well as desktop computers.  The site will also be built on the latest Ruby on Rails framework.</p>
			</div>
			<div class="medium-4 columns">
				<p><%= image_tag "home/publications.png" %></p>
				<p>We will also give you tools to be able to design your own publications like flyers, gospel tracts, and bulletins.</p>
			</div>
		</div>
		
	  	<div id="slide3" class="slide clearfix d-n">
			<!-- Social: Track whom |  Make posts | Message Friends -->
			<div class="medium-4 columns">
				<p><%= image_tag "home/chart.png" %></p>
				<p>Track all the traffic that is visiting your social profiles, or websites.  See charts or current viewers, friends, followers for Facebook, Twitter, and Google+.</p>
			</div>
			<div class="medium-4 columns">
				<p><%= image_tag "home/post.png" %></p>
				<p>Make posts to all social accounts from one FaithConnection account.  Be able to track current posts, and read other posts that followers have made.</p>
			</div>
			<div class="medium-4 columns">
				<p><%= image_tag "home/email.png" %></p>
				<p>Use each social profile to send personal messages to friends of facebook, and view the message history right inside SocialConnection</p>
			</div>
		</div>
	</div>	
</div>