<div id="slideshow" class="clearfix w-70p mv-a-30">
	<div id="slider" class="clearfix">
		<ul id="kwiks-slideshow" class='kwicks kwicks-horizontal w-100p m-a'>
		    <li class="eSlide">
		    	<%= image_tag "slides/calendar.png", :class => "pos-a b-5 w-a" %>		    						
				<div class="w-60p p-15 d-n fl-r info">
					<div class="p-10">
						<%= image_tag "slides/events-logo.png", :class => "w-a logo" %>
					</div>
					<p class="p-10 fs-lg">Schedule events like services, music, practices, etc.  You can invite users to be apart of each event.</p>
					<p><a href="#" class="link fs-lg p-10">Get Scheduling!</a></p>
				</div >
		    </li>
		    <li class="oSlide">
		    	<%= image_tag "slides/outreach.png", :class => "pos-a b-5 w-a" %>
				<div class="w-60p p-15 d-n fl-r info">
					<div class="p-10">
						<%= image_tag "slides/outreach-logo.png", :class => "w-a logo" %>
					</div>
					<p class="p-10 fs-lg">Add visitors and prospects to a directory, and plan visits based on specific regions.</p>
					<p><a href="#" class="link fs-lg p-10">Reach Out!</a></p>
				</div>
		    </li>
		    <li class="dSlide">
		    	<%= image_tag "slides/design.png", :class => "pos-a b-5 w-a" %>
				<div class="w-60p p-15 d-n fl-r info">
					<div class="p-10">
						<%= image_tag "slides/design-logo.png", :class => "w-a logo" %>
					</div>
					<p class="p-10 fs-lg">Design custom logos, websites, and publications right inside your browser.</p>
					<p><a href="#" class="link fs-lg p-10">Be Outstanding!</a></p>
				</div>
		    </li>
		    <li class="sSlide">
		    	<%= image_tag "slides/social.png", :class => "pos-a b-5 w-a" %>
				<div class="w-60p p-15 d-n fl-r info">
					<div class="p-10">
						<%= image_tag "slides/social-logo.png", :class => "w-a logo" %>
					</div>
					<p class="p-10 fs-lg">Track stats, statuses, posts, and people through Twitter, Facebook, Google+, and LinkedIn.</p>
					<p><a href="#" class="link fs-lg p-10">Socialize!</a></p>
				</div>
		    </li>
		</ul>
	</div>
</div>