<div>
  <div class="row">
    <div class="columns small-12"><h2 class="pv-15 bdb-g bdbw-1 bdc-ccc">Events</h2></div>
  </div>
  
  <div class="row">
    <div class="columns medium-6">
      <h3 class="pos-r">My Events<button class="action-button modal-button" data-action="add" data-id="#eventModal"><i class="fa fa-plus fs-16"></i></button></h3>        
      
      <table>
        <thead>
          <tr>
            <td>Name</td>
            <td>Start Date</td>
            <td width="50"></td>            
          </tr>
        </thead>
        <tbody id="eventTableData">
        	<% @organization.events.where(isTemplate: false).each do |e| %>
        		<tr data-type="events" data-id=<%= e.id %>>
        			<td><%= e.name %></td>
        			<td><%= e.timeFormat e.start_time %></td>
        			<% if !can? :delete, e 
        				disabled = "disabled"
        			end %>
    				<td><a href="#" class="<%= disabled %> c-dr fs-lg ph-15 ev fl-r delete delete-btn" data-url="/events/<%= e.id%>" data-type="User" data-name="<%= e.name %>"><i class="fa fa-times"></i></a></td> 
        			      			
        		</tr>
        	<% end %>
        </tbody>
      </table>
    </div>
    
    <div class="columns medium-6">
      <h3 class="pos-r">My Templates<button class="action-button modal-button" data-action="add" data-id="#eventTemplateModal"><i class="fa fa-plus fs-16"></i></button></h3>        
      
      <table>
        <thead>
          <tr>
            <td>Name</td>                        
            <td width="50"></td>
          </tr>
        </thead>
        <tbody id="eventTemplateTableData">
        	<% @organization.events.where(isTemplate: true).each do |e| %>
        		<tr data-type="events" data-id="<%= e.id %>">
    				<td><%= e.name %></td>
    				<% if !can? :delete, e 
        				disabled = "disabled"
        			end %>
    				<td><a href="#" class="<%= disabled %> c-dr fs-lg ph-15 ev fl-r delete delete-btn" data-url="/events/<%= e.id%>" data-type="Event Template" data-name="<%= e.name %>"><i class="fa fa-times"></i></a></td>
    			</tr>
        	<% end %>
        </tbody>
      </table>
    </div>
    
  </div>
  
  
  
  
  
</div>