<div>
  <div class="row">
    <div class="columns small-12"><h2 class="pv-15 bdb-g bdbw-1 bdc-ccc">Events</h2></div>
  </div>
  
  <div class="row">
    <div class="columns small-12">
      <h3 class="pos-r">My Events<button class="add-button" data-reveal-id="eventModal"><i class="fa fa-plus fs-16"></i></button></h3>        
      
      <table>
        <thead>
          <tr>
            <td>Name</td>
            <td>Start Date</td>
            <td>End Date</td>
            <td>Location</td>
          </tr>
        </thead>
        <tbody id="eventTableData">
        	<% @organization.events.each do |e| %>
        		<tr data-type="events" data-id=<%= u.id %>>
        			<td><%= e.name %></td>
        			<td><%= e.start_time %></td>
        			<td></td>
        			<td></td>
        		</tr>
        	<% end %>
        </tbody>
      </table>
    </div>
  </div>
  
  
  <div class="pos-r">
    
    
    
  </div>
  
  
  
  
  
</div>
<!-- Modal used for adding a new user and editing a user -->
<div id="eventModal" class="reveal-modal small" data-reveal>
  <div id="eventContainer">
  	<h3 class="c-lg">Add Event</h3>
  	<hr />
  	<div>
  		<%= form_for(:event, url: "", html: { id: "addEventForm" }, remote: true ) do |f| %>  			
		    <div><%= f.text_field :name, autofocus: true, :placeholder => "Name" %></div>	
		    <div><%= f.text_field :description, :placeholder => "Description" %></div>
		    <div><%= f.text_field :start_time, :placeholder => "Start Time", :html => { "data-field" => "datetime", "readonly" => "" } %></div>	    
		    <div><%= f.text_field :end_time, :placeholder => "End Time", :html => { "data-field" => "datetime", "readonly" => "" } %></div>	    
    		<div><%= f.submit "Add Event", :class => "w-100p button bdrz-5 ev m-0 bg-us" %></div>   		
  		<% end %>
    </div>
  </div>
  <a class="close-reveal-modal">&#215;</a>
</div>