<div>
  <div class="row">
    <div class="columns small-12"><h2 class="pv-15 bdb-g bdbw-1 bdc-ccc">Users</h2></div>       
  </div>
  
  
  
  <div class="row">
    
    <div class="columns small-12">
      <h3 class="pos-r">My Users<button class="add-button" data-reveal-id="userModal"><i class="fa fa-plus fs-16"></i></button></h3>
      

      <table>
        <thead>
          <tr>
            <td>Name</td>
            <td>Actions</td>            
          </tr>
        </thead>
        <tbody>
        	<% @organization.users.each do |u| %>
          		<tr>
          			<% if u.role == 1 %>
          			<td class="fw-b"><%= u.fullName %></td>
          			<% else %>
          			<td><%= u.fullName %></td>
          			<% end %>          				
          			<td>          				
          				<a href="/user/<%= u.id %>" data-method="delete" class="c-dr fs-lg ph-15 ev fl-r"><i class="fa fa-times"></i></a>
      				</td>
          		</tr>
          	<% end %>
        </tbody>
      </table>
    </div>
    
  </div>  
</div>
<!-- Modal used for adding a new user and editing a user -->
<div id="userModal" class="reveal-modal small" data-reveal>
  <div id="userContainer">
  	<h3 class="c-lg">Add User</h3>
  	<hr />
  	<div>
  		<%= form_for(:user, url: user_registration_path, html: { id: "addUserForm" }, remote: true ) do |f| %>
  			
		    <div><%= f.text_field :first_name, autofocus: true, :placeholder => "First Name" %></div>	
		    <div><%= f.text_field :last_name, :placeholder => "Last Name" %></div>		
		    <div><%= f.email_field :email, :placeholder => "Email Address" %></div>	    
		    <div><%= select :user, :role, [["Select Role", ""],["Admin",1],["Editor",2],["Viewer",3]] %></div>		    
		    <div><p class="ta-c ev bg-ow cur-p bdrz-5 p-10">Click if Already a Member</p></div>		        
		    <%= hidden_field_tag :form_type, "" %>
    		<div><%= f.submit "Add User", :class => "w-100p button bdrz-5 ev m-0 bg-us" %></div>
    		
    		
  		<% end %>
    </div>
  </div>
  <a class="close-reveal-modal">&#215;</a>
</div>





