<div class="mw-400 bdrz-10 bxsh-h mv-a-30 p-10 w-95p">
  <h2 class="ta-c ff-mono">Sign in</h2>
  <hr class="mv-25"/>
  <% flash.each do |name, msg| %>                    
    <%= content_tag :div, msg, :id => "flash_#{name}", :class => "alert-box alert" %>        
  <% end %>

  <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  
  <div class="row">
    <div class="medium-3 columns"><%= f.label :email %></div>
    <div class="medium-9 columns"><%= f.email_field :email, autofocus: true, :class => "m-0" %></div>
  </div>
  <div class="row">
    <div class="medium-3 columns"><%= f.label :password %></div>
    <div class="medium-9 columns"><%= f.password_field :password, autocomplete: "off" %></div>
  </div>
  <div class="row">
    <% if devise_mapping.rememberable? -%>
      <div class="medium-6 columns"><%= f.check_box :remember_me %> <%= f.label :remember_me %></div>
      <div class="medium-6 columns"><p class="fl-r"><%= link_to "Forgot your password?", new_password_path(resource_name), :class => "fs-12" %></p></div>
    <% end -%>
  </div>
  <div class="row"><div class="small-12 columns"><%= f.submit "Sign in", :class => "w-100p p-20 bg-faith-green button bdrz-5 ev" %></div></div>    
  <% end %>
</div>
