<%= render "layouts/side_bar" %>
<div id="modal-overlay" class="pos-f w-100p h-100p op-60 bg-dg d-n z-100"></div>

<div class="tab-content fl-l w-90p medium-11">
	  <div id="dashboard-container" class="d-b">
	    	<%= render "account/dashboard/home" %>
	  </div>
	
	  <div id="users-container" class="d-n">
	    	<%= render "account/user/home" %>
	  </div>
	
	  <div id="events-container" class="d-n">
	    	<%= render "account/events/home" %>
	  </div>
	  
	  <div id="music-container" class="d-n">
	  		<%= render "account/music/home" %>	
	  </div>
	
	  <div id="outreach-container" class="d-n">
	    	<%= render "account/outreach/home" %>
	  </div>
	
	  <div id="designs-container" class="d-n">
	    	<%= render "account/designs/home" %>
	  </div>
	
	  <div id="social-container" class="d-n">
	    	<%= render "account/social/home" %>
	  </div>
	
	  <div id="work-container" class="d-n">
	    	<%= render "account/work/home" %>
	  </div>
	  
	  <div id="expense-container" class="d-n">
	    	<%= render "account/expenses/home" %>
	  </div>
</div>