<% if !user_signed_in? %>
  <div id="registerContainer" class="d-n mw-400 bdrz-10 bxsh-h mv-a-30 p-20 w-95p">
    <h2 class="fs-lgr ta-c">Register</h2>
    <hr class="mv-25"/>
      <% flash.each do |name, msg| %>                    
	      <%= content_tag :div, msg, :id => "flash_#{name}", :class => "alert-box alert" %>        
      <% end %>
	  <%= form_for(:user, url: "/users", html: { id: "registerForm" } ) do |f| %>
	
	    <div><%= f.text_field :first_name, autofocus: true, :placeholder => "First Name" %></div>
	
	    <div><%= f.text_field :last_name, :placeholder => "Last Name" %></div>
	    
	    <div><input type="text" name="group_name" placeholder="Church Name" id="group_name"/></div>
	
	    <div><%= f.email_field :email, :placeholder => "Email Address" %></div>
	
	    <div><%= f.password_field :password, autocomplete: "off", :placeholder => "Password" %></div>
	
	    <div><%= f.password_field :password_confirmation, autocomplete: "off", :placeholder => "Confirm Password" %></div>
	    
	    <%= hidden_field_tag :form_type, "new_registration" %>   
	
	    <div><%= f.submit "Sign up", :class => "w-100p button bdrz-5 bg-faith-green ev m-0" %></div>
	  <% end %>
  </div>
<% end %>
