
<%= render "/layouts/mobile_side" %>

<% if user_signed_in? %>
	<div id="confirmModal" class="velocity-modal">
		<div class="modal-dialog tiny">
		  <p class="title fs-lgr d-b bdb-g bdc-ccc pb-15 ff-days">Are you Sure?</p>
		  <div class="p-m">
		  	  <p class="sub-title">You want to <span class="c-dr fw-b">DELETE</span></h5>
			    <div class="clearfix pb-15">
			  	    <span class="confirm-type fw-b fs-16 pr-10 fl-l"></span>
			  	    <span class="confirm-name fs-16 fl-l"></span>
			    </div>
			  	<div class="clearfix">
			  		<a href="#" class="button fl-l close-velocity-modal bg-ow radius m-0 td-n">No</a>
		  			<a href="#" class="button alert radius fl-r confirm-button m-0 td-n ev" data-remote="true" data-method="delete">Yes</a>
	  			</div>	
		  </div>   	
		</div>
	</div>
	
	<div id="dtBox"></div>
	
	<%= render "/account/user/modal" %>
	
	<%= render "/account/events/modal" %>
	
	<%= render "/account/events/items/modal" %>
	
	<%= render "/account/events/templates/modal" %>
	
	<%= render "/account/music/modal" %>
	
<% else %>
	<div id="loginModal" class="velocity-modal">
		<div class="modal-dialog tiny">
			  <a class="close-velocity-modal close">&#215;</a> 
			  <h2 class="fs-lgr ta-c">Login</h2>
			  <div class="p-m">
			  	  	<%= form_for(:user, url: "/users/sign_in", html: {:id => "loginForm"}) do |f| %>
						<div class="pb-5"><%= f.email_field :email, autofocus: true, :placeholder => "Username or Email"%></div>			
					    <div><%= f.password_field :password, autocomplete: "off", :placeholder => "Password" %></div>			
					    <div class="clearfix mv-5"><%= f.check_box :remember_me %> <%= f.label :remember_me %></div>
					    <div><%= f.submit "Sign in", :class => "w-100p button bdrz-5 bg-faith-green ev m-0" %></div>
			    	<% end %>	
			  </div>   	
		</div>
	</div>
	
	<div id="registerModal" class="velocity-modal">
		<div class="modal-dialog tiny">
			<a class="close-velocity-modal close">&#215;</a> 
			<h2 class="fs-lgr ta-c">Register</h2>
		    <hr class="mv-25"/>
		      <% flash.each do |name, msg| %>                    
			      <%= content_tag :div, msg, :id => "flash_#{name}", :class => "alert-box alert" %>
			      <% flash.discard[:notice] %>        
		      <% end %>
			  <%= form_for(:user, url: "/users", html: { id: "registerForm" } ) do |f| %>
			
			    <div><%= f.text_field :first_name, autofocus: true, :placeholder => "First Name" %></div>
			
			    <div><%= f.text_field :last_name, :placeholder => "Last Name" %></div>
			    
			    <div><input type="text" name="group_name" placeholder="Church Name" id="group_name"/></div>
			
			    <div><%= f.email_field :email, :placeholder => "Email Address" %></div>
			
			    <div><%= f.password_field :password, autocomplete: "off", :placeholder => "Password" %></div>
			
			    <div><%= f.password_field :password_confirmation, autocomplete: "off", :placeholder => "Confirm Password" %></div>
			    
			    <%= hidden_field_tag :form_type, "new_registration" %>   
			
			    <div><%= f.submit "Sign up", :class => "w-100p button bdrz-5 bg-faith-green ev m-0" %></div>
			  <% end %>
		  </div>
	  </div>
	  
<% end %>

<div id="modal-overlay" class="overlay"></div>
<div id='loader-overlay' class="overlay">
	<div id="middleLoadingSpinner"></div>
</div>
<div id='side-links-overlay' class="overlay"></div>






