<header class="pos-f t-0 z-1000 w-100p">
  <nav class="top-bar clearfix">        
        <a href="#" class="c-dg bg-w ev bdc-ccc p-n fl-l d-n fw-b td-n trigger" id="side-bar-button"><i class="fa fa-bars"></i></a>          
  	<ul class="title-area left">
    	<li><%= link_to image_tag("connectyourchurch.png",:class => "pt-10 pb-5 pl-10 pr-10 w-a logo fl-l"), "/" %></li>
  	</ul>
	<ul class="fl-r navigation">
		<% if !user_signed_in? %>
            <li class="fl-l"><a href="#" id="registerLink" class="cur-p">Register</a></li>
	  		<li class="fl-l"><a href="#" class="cur-p reveal-action" data-id="#loginForm">Login</a></li>
  		<% else %>  			
  			<li class="fl-l"><%= link_to('Logout', destroy_user_session_path, :method => :delete) %></li>
  		<% end %>	      	      
    </ul>
    <% if !user_signed_in? %>
    	<%= form_for(:user, url: "/users/sign_in", html: {:id => "loginForm", :class => "bg-dbl p-10 pos-a pos-trc d-n ov-h"}) do |f| %>
			<div class="pb-5"><%= f.email_field :email, autofocus: true, :placeholder => "Username or Email"%></div>			
		    <div><%= f.password_field :password, autocomplete: "off", :placeholder => "Password" %></div>			
		    <div><%= f.check_box :remember_me %> <%= f.label :remember_me %></div>
		    <div><%= f.submit "Sign in", :class => "button w-100p p-15" %></div>
    	<% end %>
    <% end %>
  </nav>
  <ul id="breadcrumbs" class="pos-a lis-n w-100p mv-10 d-n">
  	<li class="fl-l ta-c"><a href="#events-box" class="c-dg ta-c fs-lg ff-days button bg-ow bdrz-10 bd bdc-ccc event-button td-n home-page-scroll-button pv-10 w-75p">events</a></li>
  	<li class="fl-l ta-c"><a href="#people-box" class="c-dg ta-c fs-lg ff-days button outreach-button td-n bg-ow home-page-scroll-button pv-10 bdrz-10 bd bdc-ccc w-75p">people</a></li>
  	<li class="fl-l ta-c"><a href="#work-box" class="c-dg ta-c fs-lg ff-days button work-button td-n bg-ow home-page-scroll-button pv-10 bdrz-10 bd bdc-ccc w-75p">work</a></li>
  	<li class="fl-l ta-c"><a href="#expenses-box" class="c-dg ta-c fs-lg ff-days button expense-button td-n bg-ow home-page-scroll-button pv-10 bdrz-10 bd bdc-ccc w-75p">expenses</a></li>
  	<li class="fl-l ta-c"><a href="#music-box" class="c-dg ta-c fs-lg ff-days button music-button td-n bg-ow home-page-scroll-button pv-10 bdrz-10 bd bdc-ccc w-75p">music</a></li>		
	<li class="fl-l ta-c"><a href="#social-box" class="c-dg ta-c fs-lg ff-days button social-button td-n bg-ow home-page-scroll-button pv-10 bdrz-10 bd bdc-ccc w-75p">social</a></li>
  </ul>
  
  <script type="text/javascript">
    $(function(){
        
    });
    </script>
</header>